head{
    padding: 0;
    margin: 0;
}
header h2
{
    background-color: lightsteelblue;
}
header
{
margin-bottom: 0;
    padding: 0;
}
a:hover
{
    color:lightslategray;
}
header a{
    color:black;
    background-color:lavender;
    text-decoration: none;
}
.content a
{
   text-decoration: none;
    color:black;
}
.content1 a
{
   text-decoration: none;
    color:black;
}
.content2 a
{
     text-decoration: none;
    color:black;
}
#section1
{
    background-color:lavender;
    margin: 30px;
    overflow:hidden;
}
#section2
{
    background-color: lavender;
    margin: 30px;
}
#section3
{
    background-color: lavender;
    margin: 30px;
}
#top
{
 background-color: plum;
   margin-left: 200px;
    margin-right: 200px;
}
#top a
{
    text-decoration: none;
    color:rebeccapurple;
}
#section1 img
{
    float: right;
}
#section2 img
{
    float: right;
}
#section3 img
{
    float: right;
}
#a{
    background-color: #6c71c4;
}
#b{
    background-color: skyblue;
}
#c{
    background-color: yellowgreen;
}

